# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore Jupyter notebooks
*.ipynb

# Ignore environment variable configurations
.env

# Ignore version control system
.git/
.gitignore

# Ignore other unnecessary files
README.md
*.md

copy.ipynb
chat.py